<!DOCTYPE html>
<html>
	<head>
			<title>TV-Guide Introduction</title>
			<style>
				body{font-family:helventica,verdana;font-size:.8em;margin:0;padding:0;}
				div,p{margin:0;padding:0;border:0;}
				a{color:#000;text-decoration:none;font-weight:bold;}
				a:hover{cursor:pointer;text-decoration:underline;}
				h1,h2{margin:0;padding:0;margin-bottom:6px;}
				p{margin-bottom:10px;}
				pre{margin:0;margin-top:10px;margin-bottom:10px;padding-top:10px;padding-left:10px;padding-right:10px;background-color:#000;color:#fff;font-size:1.2em;font-weight:bold;}
				table{width:100%;margin-top:10px;margin-bottom:20px;}
				table tr{border:0;padding:0;margin:0;}
				table tr th{text-align:left;border-bottom:1px solid #000;}
				table tr td{margin:0;padding:0;padding-left:10px;padding-bottom:10px;padding-top:10px;border-bottom:1px solid #000;}
				table tr td.sample{vertical-align:top;padding-bottom:20px;padding-top:10px;}
				table tr td.sample pre{margin:0;}
				div#header{width:99%;padding-top:20px;padding-left:10px;border-bottom:1px solid #000;}
				div#bodywrap{margin:0;padding:0;border:0;min-width:1024px;}
				div#menu{float:left;margin:0;padding:0;}
				div#menu ul{margin:0;padding:0;list-style-type:none;height:75%;width:200px;}
				div#menu ul li{font-size:1em;line-height:40px;padding-left:10px;text-transform:uppercase;float:left;width:100%;}
				div#menu ul li:hover{background-color:#ddd;cursor:pointer;width:95%;}
				div#menu ul li a:hover{text-decoration:none;width:100%;}
				div#content{padding-left:30px;padding-bottom:20px;border-left:1px solid #000;overflow-y:auto;max-width:800px;min-height:600px;}
				div#footer{clear:both;padding-left:20px;border-top:1px solid;height:25px;padding-top:5px;}
			</style>
	</head>
	<body>
	<div id="bodywrap">
		<div id="header">
			<h1>Oliver's Parser Framework</h1>
			<h2>A PHP5 Framework done right!;-)</h2>		
		</div>
		<div id="menu">
			<ul>
				<li><a href="?page=home">Home</a></li>
				<li><a href="http://www.neverslair-blog.net/docs/opf/" target="_blank">Dev API</a></li>
				<li><a href="?page=plugin_dev">Plugin Dev Howto</a></li>
				<li><a href="?page=source_dev">Sources Dev Howto</a></li>
				<li><a href="?page=database_dev">Database Drop-in Dev</a></li>
				<li><a href="?page=tvrage">TVRage Parser Plugin</a></li>
			</ul>
		</div>
		<div id="content">
			###CONTENT###
		</div>
	</div>
	<div id="footer">Coded by: <a href="http://www.neverslair-blog.net/contact/about-me/" target="_blank">Oliver Leitner</a> Email: <a href="mailto:&#109;&#97;&#105;&#108;&#116;&#111;&#58;%53%68%61%64%6F%77%33%33%33%40%67%6D%61%69%6C%2E%63%6F%6D">Shadow333{AT}gmail.com</a></div>
	</body>
</html>