<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:tvguide="http://www.neverslair-blog.net/DTD/2010/feeds/attributes/">
<channel>
<atom:link href="###SELF###" rel="self" type="application/rss+xml" />
<title>tvguide interface</title>
<description>get your daily tv fix here;-)</description>
<link>###BASEURL###</link>
<language>en-gb</language>
<webMaster>###ADM_MAIL### (tvguide)</webMaster>
<category></category>
<image>
	<url>###IMGURL###</url>
	<title>tvguide</title>
	<link>###BASEURL###</link>
	<description>Visit tvguide - The best tvrage grabber so far</description>
</image>

<tvguide:response offset="###CURRENT_OFFSET###" total="###COUNT_TOTAL###" />
###ENTRIES###
</channel>
</rss>
